/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079d3;
  --reddit-orange: #ff5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey: rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color: rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  height: 100%;
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 6px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: 12px;
}

#search:focus {
  background-color: white;
  border: 1px solid #2271a9;
}

.publicPostExtra {
  min-width: 800px;
  max-width: 1000px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.publicPost {
  min-width: 800px;
  max-width: 1000px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.voteComment {
  float: left;
  height: 100%;
}

.rightBox {
  float: right;
  height: 100%;
}

.publicBox {
  margin: 20px 0;
  background-color: white;
}

.titleLayout {
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 25px;
}

.publicLayout {
  position: relative;
  top: 5px;
  align-items: center;
  padding: 4px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 20px;
  font-size: 14px;
  color: var(--reddit-blue);
}

.description {
  padding-bottom: 4px;
  padding-right: 4px;
  font-weight: normal;
  margin-left: 12px;
  position: relative;
  bottom: 10px;
}

.postText {
  padding-bottom: 4px;
  font-weight: normal;
  margin-left: 12px;
  padding-right: 5px;
}

.subseddit {
  position: absolute;
  left: 100px;
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px #2271a9;
  cursor: pointer;
}

.subsedditFeed {
  min-width: 800px;
  max-width: 1000px;
  width: 80%;
  margin: 18px auto;
  padding: 0;
}

#feed {
  min-width: 800px;
  max-width: 1000px;
  width: 80%;
  margin: 18px auto;
  padding: 0;
}

.body-box {
  background: white;
  height: 700px;
}

.voteModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.voteModalContent {
  border-radius: 20px;
  background: linear-gradient(70deg, #2271a9, #43136c);
  margin: 5% auto;
  width: 315px;
  color: white;
  font-weight: bold;
  border: 8px solid #e7e7e7;
  padding-left: 15px;
  padding-right: 15px;
}

.VoteClose {
  position: relative;
  left: 20px;
  margin-top: -20px;
  color: #e5e5e5;
  font-size: 30px;
  font-weight: bold;
}

.VoteClose:hover,
.VoteClose:focus {
  color: #ffffff;
  cursor: pointer;
}

.voteModalList {
  margin: 0;
  padding-bottom: 15px;
  padding-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  border-radius: 20px;
  background: linear-gradient(70deg, #2271a9, #43136c);
  margin: 5% auto;
  border: 1px solid #888;
  width: 300px;
  color: white;
  font-weight: bold;
  border: 8px solid #e7e7e7;
}

.updateClose {
  position: relative;
  left: 120px;
  margin-top: -20px;
  color: #e5e5e5;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close {
  position: relative;
  left: 155px;
  margin-top: -15px;
  color: #e5e5e5;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:hover,
input:focus,
postDescription:hover,
.postDescription:focus {
  border: 1px solid #6f6f6f;
}

.container {
  padding: 16px;
}

form {
  border: 3px solid #f1f1f1;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.loginButton {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: white;
  border: 2px solid #1e72ae;
  border-radius: 4px;
  width: 100px;
  padding: 7.5px 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 0px #5e268f;
}

.loginButton:hover {
  background: #3855ad;
}

.loginError {
  font-weight: normal;
  padding-top: 10px;
  text-align: center;
}

.author {
  float: left;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  color: var(--reddit-blue);
  margin: 0;
}

.detailOther {
  float: left;
  font-size: 14px;
  color: var(--reddit-blue);
  padding-left: 5px;
  display: flex;
  margin: 0;
  align-items: center;
  font-weight: bold;
}

.detailNormal {
  float: left;
  font-weight: normal;
  margin: 0;
  font-size: 12px;
  color: var(--reddit-blue);
  display: flex;

  align-items: center;
}

.detailOther:hover {
  color: #222b9f;
  cursor: pointer;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

.author:hover {
  color: #222b9f;
  cursor: pointer;
}

.detailBox {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.extraSpace {
  flex-grow: 1;
  cursor: pointer;
}

.profileTitle {
  font-weight: bold;
  align-items: center;
  padding: 2px;
  margin: 5px;
  display: flex;
  height: 20px;
  font-size: 16px;
  color: #241b2e;
}

.profileInfo {
  font-weight: normal !important;
  padding-left: 4px;
}

/* Add your styles here */

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;

  margin-bottom: 10px;
  display: block;
  margin-left: -10px;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
